
<!-- Banner -->
<section id="banner" class="major">
  <div *ngIf="mainSiteData" class="inner">
    <header class="major">
        <h1>{{ mainSiteData?.title }}</h1>
    </header>
    <div class="content">
      <p>{{ mainSiteData?.subtitle }}</p>
<!--        <ul class="actions">-->
<!--          <li><a href="#one" class="button next scrolly">Get Started</a></li>-->
<!--        </ul>-->
    </div>
  </div>
</section>

<div id="main">
  <app-blocks></app-blocks>

  <!-- Two -->
  <section id="two">
    <div class="inner">
      <header class="major">
        <h2>about</h2>
      </header>
      <p>chi siamo, cosa facciamo, blablabla</p>
      <ul class="actions">
        <li><a routerLink="/about" class="button next">Get Started</a></li>
      </ul>
    </div>
  </section>
</div>

<app-contact></app-contact>
