
<!-- Note: The "styleN" class below should match that of the header element. -->
<section id="banner" class="style2">
  <div *ngIf="mainData" class="inner">
    <span class="image">
      <img src="{{ getLandingImageUrl() }}" alt="" />
    </span>
    <header class="major">
      <h1>{{ mainData.title }}</h1>
    </header>
    <div class="content">
      <p>{{ mainData.subtitle }}</p>
    </div>
  </div>
</section>

<!-- Main -->
<div id="main">

  <!-- One -->
  <section id="one">
    <div class="inner">
      <header class="major">
        <h2>Sed amet aliquam</h2>
      </header>
      <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna.</p>
    </div>
  </section>

  <!-- Two -->
  <section id="two" class="spotlights">
    <section *ngFor="let preview of previews">
      <!--href="generic.html"-->
      <a class="image">
        <img src="{{ getArticleImageUrl(preview) }}" alt="" data-position="center center" />
      </a>
      <div class="content">
        <div class="inner">
          <header class="major">
            <h3>{{ preview.title }}</h3>
          </header>
          <p>{{ preview.subtitle }}</p>
          <ul class="actions">
            <li><a [routerLink]="['/article', preview.articleId]" class="button">Learn more</a></li>
          </ul>
        </div>
      </div>
    </section>
  </section>

  <!-- Three -->
  <section id="three">
    <div class="inner">
      <header class="major">
        <h2>Massa libero</h2>
      </header>
      <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
      <ul class="actions">
        <li><a href="generic.html" class="button next">Get Started</a></li>
      </ul>
    </div>
  </section>

</div>

<app-contact></app-contact>
